[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "elexr"]
	path = elexr
	url = https://github.com/ghing/elexr
	shallow = true
	registered = true
